@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Displa@1&family=Karla:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    margin: 0; 
}
.insure {
    margin: 18px 0px 0px 120px;
    width: 75px;
    height: 10px;
    color: hsl(256, 26%, 20%);
}
.nav_container {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 0px;
}
/* gap: 2em;*/
.menu{
    display: flex;
}
ul{
    list-style: none;
}
.menu > li > a {
    color: #7d7b7e;
    text-transform: uppercase;
    padding: 1px 10px 0px;
    /* 1rem(todos los lados */
    display: inline-block;
    font-size: smaller;
    font-weight: 700;
}
.menu>li>a:hover {
    color: hsl(255, 47%, 31%);
}
.menu .active {
    border: 1px solid hsl(255, 47%, 31%);
    text-decoration: none;
    color: hsl(255, 47%, 31%);
}
.menu .active:hover {
    background-color: hsl(0, 0%, 4%); 
    color: hsl(0, 0%, 98%);
}
a{
    text-decoration: none;
}
/*.menu :nth-child(4) :hover*/
.container {
    background-color:hsl(256, 26%, 20%);
    padding: 1px 0px 0px 10px;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-size: 27%;
    background-position: 1000px -50px;  

    }
.linea {
    height:1px;
    width: 12%;
    background-color: hsl(0, 0%, 98%);
    margin: 120px 0px 0px 150px;
}
.titulo {
    font-family: 'DM Serif Display', serif;
    color:  hsl(0, 0%, 98%);
    font-size: 300%;
    height: 80px;
    width: 500px;
    display:inline-table; 
    margin: 5vh 11%;
}
.parrafo {
    color: hsl(0, 0%, 98%);
    height: 80px; 
    width: 530px;
    display:inline-table; 
    margin: 1vh 11%;
}
/* padre {font-size: 50px;}
hijo{ font-size: 3rem;} */
.plans {
    color: hsl(0, 0%, 98%);
    background-color: hsla(256, 26%, 20%);
    border: 1px solid hsl(0, 0%, 98%);
    padding: 5px;   
    display: flex;
    justify-content: center; 
    height: 0%; 
    width: 90px;
    margin: -1% 0% 0% 11%;
}
.plans:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
}
.imagen {
    position: absolute;
    top: 48%; 
    background-repeat: no-repeat; 
    height: 55%;
    width: 145px;
 }
.imagen2 {
    float: right;
    margin: 9% 8% 0% 0%;
    background-repeat: no-repeat;
    height: 65%;
    width: 360px;
}
.linea2 {
    height:1px;
    width: 10%;
    background-color: hsl(256, 26%, 20%);
    margin: 15% 0% 0% 12%;   
} 
.titulo2 {
    font-family: 'DM Serif Display', serif;
    color:  hsl(256, 26%, 20%);
    font-size: 300%;
    height: 80px;
    width: 500px;
    display:inline-table; 
    padding: 18px 0px 0px 140px;
}
.iconos {
    display: flex; 
    justify-content: space-between;
    padding: 1px 90px 0px 130px;
}
.semititulo {
    font-family: 'DM Serif Display', serif;
    vertical-align: text-bottom;
    margin-right: auto;
}
.snappy {
    color:  hsl(273, 4%, 51%);
}
.cuadro {
    background-color:hsl(256, 26%, 20%);
    padding: 30px;
    margin: 150px 120px 120px 120px;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 710px -9px;
}
.titulo3 {
    font-family: 'DM Serif Display', serif;
    color:  hsl(0, 0%, 98%);
    font-size: 300%;
    
}
.work {
    float: right;
    color: hsl(0, 0%, 98%);
    background-color: hsla(256, 26%, 20%);
    border: 1px solid hsl(0, 0%, 98%);
    padding: 5px;
    margin: -75px 85px 0px 0px;
}
.work:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
}

footer {
    list-style: none;

}
.figuras {
    background-repeat: no-repeat; 
    margin:1vh -95%;
}
.insure2 {
    margin:1vh -1000%;
    width: 13vh;
    height: 13px;
    color: hsl(256, 26%, 20%);
}
.logos2 {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color:  hsl(273, 4%, 51%); 
    background-size: 20%;
    margin: 100px 100px 400px 500px;
    width: 15px;
    height: 16px;
}
ul{
    list-style: none;
}
.listado {
    display: flex;
    justify-content:space-around;
    justify-content:space-around;
    text-transform: uppercase;
    font-size: small;
    color:  hsl(273, 4%, 51%); 
}